.label {
    display: block;
    font-weight: 500;
    font-size: 1rem;
    color: var(--text);
    padding-left: 8px;
}

.expand {
    width: 100%;
}

.field {
    height: 37px;
    border-radius: 8px;
    padding: 6px 0 6px 8px;
    background-color: var(--card);
    border: 1px solid var(--border);
    outline: none;
    min-width: 200px;
    box-sizing: border-box;
    color: var(--text-input);
    display: block;
    margin: 0;
    transition: background-color 200ms;
}

.field:focus {
    border-color: var(--primary-blue);
}

.field::placeholder, .textarea::placeholder {
    color: var(--placeholder-color);
    font-weight: 400;
}

.field:not(:placeholder-shown), .field:focus {
    /* background-color: var(--input-background-filled); */
}

.icon {
    position: absolute;
    right: 10px;
    top: 25px;
    height: 25px;
    width: 25px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.input {
    position: relative;
}

.textarea-wrap {
    display: flex;
    flex-direction: column;
}

.textarea {
    flex-grow: 1;
    font-size: 1.2rem;
    resize: none;
    color: var(--text-input);
}

.textarea-wrap.fill {
    flex-grow: 1;
}

.textarea-wrap.fill .textarea {
    height: 100%;
    font-family: inherit;
}
