.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: .9rem .9rem;
    grid-template-areas:
        "software software"
        "versions details"
        "ram ram"
        "buttons buttons";
}

.buttons {
    grid-area: buttons;
}

@media screen and (max-width: 835px) {
    .container {
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "software"
            "versions"
            "details"
            "ram"
            "buttons";
    }
}
