.grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    --gap: .9em;
    gap: var(--gap);
    padding-bottom: var(--gap);
    grid-template-areas:
        "header header"
        "navigation content";
}

.grid > * {
    box-sizing: border-box;
}

.content {
    grid-area: content;
    height: 100%;
    padding-right: .9rem;;
}

@media screen and (max-width: 590px) {
    .grid {
        grid-template-areas:
            "header header"
            "content content";
    }

    .content {
        padding-left: .9rem;
    }
}

.only-navbar {
    grid-template-areas:
        "header header"
        "navigation navigation";
}
