.header {
    grid-area: header;
    min-height: 10px;
    height: 100%;
    padding: 0 0 0 24px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.end {
    display: flex;
}
