.item {
    color: var(--semoxy-blue);
    cursor: pointer;
    overflow: hidden;
}

.item h3 {
    font-weight: 500;
    font-size: 1.3em;
    margin: 0;
    white-space: nowrap;
}

.item p {
    font-weight: 300;
    font-size: .9em;
    margin: .1em 0 0;
    white-space: nowrap;
    letter-spacing: .6px;
}
