.user-menu {
    border: none;
    border-radius: 0;
    min-width: 200px;
    width: auto;
    padding: 6px 56px 6px 8px;
}

.dropdown {
    border-radius: 0;
    padding: 0;
    top: 100%;
}

.arrow {
    right: 18px;
}

/* TODO: hover background color */
.logout {
     width: 100%;
     background-color: #FFFFFF;
     padding: 12px 12px;
     cursor: pointer;
 }

.user-display {
    color: var(--semoxy-blue);
    display: flex;
    flex-direction: column;
    line-height: 1em;
    position: relative;
    top: 3px;
    padding: 4px 0;
}

.user-display h3 {
    font-weight: 500;
    font-size: 1.4em;
    margin: 0;
    white-space: nowrap;
}

.user-display p {
    font-weight: 300;
    font-size: .9em;
    margin: 0;
    white-space: nowrap;
}
