.user-menu {
    border: none;
    border-radius: 0;
    min-width: 200px;
    width: auto;
    padding: 6px 56px 6px 8px;
}

.dropdown {
    border-radius: .6rem;
    padding: .3rem;
    top: 100%;
    row-gap: .2rem;
}

.arrow {
    right: 18px;
}

.item {
    width: 100%;
    padding: .4rem .6rem;
    cursor: pointer;
    border-radius: .2rem;
    display: flex;
    column-gap: .3rem;
    justify-content: space-between;
    --icon-color: var(--text);
    color: var(--icon-color);
    align-items: center;
    font-size: 1rem;
    transition: none;
}

.item > span {
    transition: none;
}

.item.default:hover, .item.default:active {
    --icon-color: #FFFFFF;
    background-color: var(--primary-blue);
}

.item.danger {
    --icon-color: var(--danger-red);
}

.item.danger:hover {
    background-color: var(--button-danger-hover);
    --icon-color: #FFFFFF;
}

.item.danger:active {
    background-color: var(--button-danger-click);
    --icon-color: #FFFFFF;
}

.icon {
    height: 24px;
    width: 24px;
}

.user-display {
    color: var(--semoxy-blue);
    display: flex;
    flex-direction: column;
    line-height: 1em;
    position: relative;
    top: 3px;
    padding: 4px 0;
}

.user-display h3 {
    font-weight: 500;
    font-size: 1.4em;
    margin: 0;
    white-space: nowrap;
}

.user-display p {
    font-weight: 300;
    font-size: .9em;
    margin: 0;
    white-space: nowrap;
}
