.container {
    z-index: 100;
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 0 1em 2em;

    display: flex;
    flex-direction: column;
    row-gap: 16px;
    justify-content: flex-end;
    align-items: center;

    pointer-events: none;
}

.alert {
    display: flex;
    padding: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 13px 46px -1px #00000029;
    border-radius: 12px;
    pointer-events: all;
    column-gap: 10px;
    align-items: center;
    width: 512px;
}

@media screen and (max-width: 550px) {
    .alert {
        width: 100%;
    }
}

.type {
    height: 86px;
    width: auto;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
}

.text h3 {
    margin: 0;
    color: var(--text-strong);
    font-weight: 500;
    font-size: 1.5rem;
}

.text span {
    color: var(--text);
    font-weight: 400;
}

.close {
    margin-right: 10px;
    cursor: pointer;
    height: 2.5em;
    width: auto;
}
