.light-mode {
    --semoxy-blue: #254189;
    --primary-blue: #567CC6;
    --placeholder-color: #00000033;
    --danger-red: #FF7676;
    --text: #6D6D6D;
    --background-light-blue: #EFF5FF;
    --success-green: #62C540;
    --text-strong: #000000B2;
    --text-input: #000000CC;
    --text-small: #0000005E;
    --warning-yellow: #FBF56A;
    --input-background-filled: rgb(232, 240, 254);

    --button-primary: var(--primary-blue);
    --button-primary-hover: #45639e;
    --button-primary-click: #344a77;

    --button-danger: #FF7676;
    --button-danger-hover: #e66a6a;
    --button-danger-click: #cc5e5e;

    --button-secondary-color: var(--primary-blue);
    --button-secondary-border: var(--primary-blue);

    --selection-blue: #9EBCF2;
    --white: #FFFFFF;
    --card: #FFFFFF;
    --border: var(--placeholder-color);
    --navigation-selected: var(--semoxy-blue);
    --navigation-unselected: var(--text);
}

.dark-mode {
    --semoxy-blue: #FFFFFF;
    --primary-blue: #8EADEB;
    --placeholder-color: #FFFFFF8A;
    --danger-red: #FF7676;
    --text: #FFFFFF;
    --background-light-blue: #3D3F43;
    --success-green: #62C540;
    --text-strong: #FFFFFFB2;
    --text-input: #FFFFFFCC;
    --text-small: #FFFFFFC2;
    --warning-yellow: #FBF56A;
    --input-background-filled: rgb(232, 240, 254);

    --button-primary: var(--primary-blue);
    --button-primary-hover: #728abc;
    --button-primary-click: #6379a5;

    --button-danger: #FF7676;
    --button-danger-hover: #e66a6a;
    --button-danger-click: #cc5e5e;

    --button-secondary-color: #FFFFFF;
    --button-secondary-border: var(--text-strong);

    --selection-blue: #9EBCF2;
    --white: #525458;
    --card: #5A5D63;
    --border: #FFFFFF33;
    --navigation-selected: var(--primary-blue);
    --navigation-unselected: var(--text-strong);
}
