:root {
    --semoxy-blue: #254189;
    --primary-blue: #567CC6;
    --placeholder-color: #00000033;
    --danger-red: #FF7676;
    --text: #6D6D6D;
    --background-light-blue: #EFF5FF;
    --success-green: #62C540;
    --text-strong: #000000B2;
    --text-input: #000000CC;
    --text-small: #0000005E;
    --warning-yellow: #FBF56A;
    --input-backgound-hover: rgb(232, 240, 254)
}
